---
// layout: compress
---
<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>

<!-- bare layout means not header and footer
  like resume
-->
{% unless layout.bare %}
  
{% include google_analytics.html %}
  
{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{ layout }} is-multiple is-boxed">
  <div id='outer-wrapper'>
    {% include header.html %}



    {% include footer.html %}
</div>

<script src="{{ site.baseurl }}/assets/js/alltheme.js"></script> 

<script>
  $(document).ready(function() {
    function fixedSidebarIfy() {
      $("#main-wrapper, #sidebar-wrapper").each(function() {
        $(this).theiaStickySidebar({
          containerSelector: "#content-wrapper > .container",
          additionalMarginTop: 20,
          additionalMarginBottom: 20
        });
      });
    }

    fixedSidebarIfy(); 
  });
</script>
    
  </body>
{% else %}
  {{ content }}
{% endunless %}

</html>
